<div class="jumbotron jumbotron-fluid fadeIn">
  <div class="container">
      <h1 class="display-4 text-center font-weight-light">FutbolApp <img src="../../assets/pelota.png" width="70" height="70" class="d-inline-block align-top" alt=""></h1>
      <br>
      <div class="container alert alert-info text-justify" role="alert">
          Todo lo que quieres saber sobre el mundo del fútbol en una aplicación: calendario de partidos, crónicas en vivo, alineaciones, perfil de los jugadores, estadísticas y las últimas noticias de las ligas más importantes del mundo.
          FutbolApp brinda información sobre ligas como: Bundesliga, Premier League, Serie A, La liga y copas internacionales.
      </div>

      <!-- <button type="button" class="btn btn-primary" routerLink="/competicion" routerLinkActive="active">
          Ir a Competición
      </button> -->
  </div>
</div>