<div class="jumbotron jumbotron-fluid fadeIn">
  <div class="container">
      <h1 class="display-4 text-center font-weight-light">FutbolApp <img src="../../assets/iconos/pelota.png" width="70" height="70" class="d-inline-block align-top" alt=""></h1>
      <br>
      <div class="container alert alert-info text-justify" role="alert">
          Todo lo que quieres saber sobre el mundo del fútbol en una aplicación: calendario de partidos, crónicas en vivo, alineaciones, perfil de los jugadores, estadísticas y las últimas noticias de las ligas más importantes del mundo.
          FutbolApp brinda información sobre ligas como: Bundesliga, Premier League, Serie A, La liga y copas internacionales.
      </div>
  </div>
</div>

<div class="row container-fluid d-flex justify-content-center">
    <div class="card col-7 mr-4">
        <app-lives-matches></app-lives-matches>
    </div>
    <div class="card col-4">
        A little place to put any information about any competition/s as live matches. 
    </div>
</div>