<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading">

  <div *ngIf="historicalWinners" class="card">
    <div class="card-header">
      Historical data
    </div>
    <div class="card-body">
      <div class="row">

        <div class="col-6 col-xs-12">
          <div class="card">
            <div class="card-header font-weight-light" style="background-color: gray; color: white;">
              Current competition:
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item font-weight-light"> {{historicalWinners.name}} <img class="ml-2 mb-2" [src]="imgCompeticion" width="28" height="28"> </li>
              <li *ngIf="historicalWinners.currentSeason.winner" class="list-group-item font-weight-light"><u>Winner club</u>: {{historicalWinners.currentSeason.winner?.name}}  <img class="ml-2 mb-2" [src]="historicalWinners.currentSeason.winner?.crestUrl" width="28" height="28"></li>
              <li class="list-group-item font-weight-light pb-3"><u>Start season</u>: {{ fechaInicio | date: 'longDate' }} </li>
              <li class="list-group-item font-weight-light pb-3"><u>End season</u>: {{ fechaFin | date: 'longDate' }} </li>
            </ul>
          </div>   
        </div>

        <div class="col-6 col-xs-12">
          <div class="card">
            <div class="card-header font-weight-light" style="background-color: gray; color: white;">
              Last champion:
            </div>
            <ul class="list-group list-group-flush">
              <li *ngIf="lastSeason.winner" class="list-group-item font-weight-light"><u>Club</u>: <a [routerLink]="['/team', lastSeason.winner.id]" style="color: black;">{{lastSeason.winner?.name}}</a> <img class="ml-2 mb-2" [src]="lastSeason.winner?.crestUrl" width="28" height="28"></li>
              <li class="list-group-item font-weight-light pb-3"><u>Start season</u>: {{ startDateLastTemp | date: 'longDate' }} </li>
              <li class="list-group-item font-weight-light pb-3"><u>End season</u>: {{ endDateLastTemp | date: 'longDate' }} </li>
            </ul>
          </div>   
          <button type="button" class="col-12 btn btn-sm btn-primary mt-2" data-toggle="modal" data-target=".bd-example-modal-lg"> Historical winners </button>
        </div>

      </div>
    </div>
  </div>
</div> 



<!--Modal champion list-->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"> {{historicalWinners?.name}} winners | <small> {{primerAnio}}-{{ultimoAnio}} </small></h5> 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"> 

            <table class="table text-center">
              <thead>
                <tr>
                  <th scope="col">Year</th>
                  <th scope="col">Team</th>
                  <th scope="col">Acronym</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let season of previousSeasons" class="font-weight-light">
                
                    <td *ngIf="season.winner"> {{season.endDate}}/{{season.startDate}} </td>
                    <td *ngIf="season.winner"> <strong>{{season.winner?.name}}</strong> <img class="ml-2 mb-2" [src]="season.winner?.crestUrl" width="28" height="28"></td>
                    <td *ngIf="season.winner"> {{season.winner?.tla}} </td>
          
                </tr>
              </tbody>
            </table>
          
        </div>
    </div>
  </div>
</div>

<!--Modal champion list-->